@CHARSET "ISO-8859-1";
body {
	margin: 0px;
        padding: 0px;
        font-family:"Verdana", "Arial";
        font-size: 10px;
}

table thead tr td {
        background-color: #999999;
        font-weight: bold;
}

#container {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
}

#header {
	width: 860px;
        height: 160px;
        margin: 0;
        padding: 0px 20px;
        border: 1px solid #c5c6ca;
        cursor: pointer;
        background-color: #0065ad;
}

#menu {
	width: 188px;
        height: 390px;
        margin: 5px;
        padding: 0px;
        border: 1px solid #c5c6ca;
        float: left;
        position: relative;
        background-color: #efebef;
}

#info {
	width: 188px;
        height: 390px;
        margin: 5px;
        padding: 0px;
        border: 1px solid #c5c6ca;
        float: left;
        position: relative;
        background-color: #efebef;
}

#content {
	width: 488px;
        height: 390px;
        margin: 5px;
        padding: 0px;
        border: 1px solid #c5c6ca;
        float: left;
        position: relative;
        background-color: #efebef;
        overflow: auto;
}

#footer {
	width: 900px;
        height: 100px;
        margin: 0px;
        padding: 0px;
        border: 1px solid #c5c6ca;
        clear: both;
        background-color: #00284a;
}
.listgames_row {
    height: 40px;
}

#listgames {
    margin:0px;
    padding:0px;
    border:1px gray solid;
    height: 300px;
    width:300px;
    background-color: white;
    overflow: auto;
    position: absolute;
    z-index: 1;
}

#driver_button {
    margin:0px;
    padding:0px;
    border:1px gray solid;
    height: 100px;
    width: 300px;
    background: lightgray;

}

#driver_button:hover {
    cursor: pointer;
    background: gray;

}

#passenger_button {
    margin:0px;
    padding:0px;
    border:1px gray solid;
    height: 100px;
    width: 300px;
    background: lightgray;
}

#passenger_button:hover {
    background: gray;
    cursor: pointer;
}

#join_driver_button {
    margin:0px;
    padding:0px;
    border:1px gray solid;
    height: 30px;
    width: 60px;
    background: lightgray;
    line-height: 30px;
    text-align: center;
}

#join_driver_button:hover {
    background: gray;
    cursor: pointer;
}

#gamebutton {
    margin:0px;
    padding: 0;
    border:1px gray solid;
    height: 18px;
    width: 200px;
    background: lightgray;
    text-align: center;
    cursor: pointer;
    line-height: 18px;
}

#gamebutton label {
    cursor: pointer;
}

#gamebutton:hover {
    background: gray;
}

#installdbbutton {
    margin:0px;
    padding:0px;
    border:1px gray solid;
    height: 40px;
    width: 100px;
    background: lightgray;
}

#installdbbutton:hover {
    background: gray;
    cursor: pointer;
}


#submitbutton {
    margin:0px;
    padding:0px;
    border:1px gray solid;
    height: 20px;
    width: 60px;
    background: lightgray;
    float: right;
    line-height: 20px;
    text-align: center;
}
#submitbutton:hover {
    background: gray;
    cursor: pointer;
}

.row_odd {
	background:#eeeeee;
        width: 300px;
}
.row_odd:hover  {
	background:#aaaaaa;
        cursor: pointer;
}
.hometeam {
    width: 300px;
}
.row_even {
        width: 300px;
	background:#ffffff;
}
.row_even:hover  {
	background:#aaaaaa;
        cursor: pointer;
}
.driverform {
        margin: 0;
        padding: 0;
        
}
.passengerform {
        margin: 0;
        padding: 0;
}
.showdriver{
        margin: 0;
        padding: 0;
}
.showdriver td{
        height: 30px;
}


.start {
        margin: 0;
        padding: 0;
}

.error {
    visibility: hidden;
}

.list_drivers_row {
    height: 40px;
    width: 100%;
}

.listdrivers_content {
    width: 100%;
}

#password_login {
    width: 100px;
}

#user_login {
    width: 100px;
}

#login_button {
    margin:0px;
    padding:0px;
    border:1px gray solid;
    height: 20px;
    width: 60px;
    background: lightgray;
}

#login_button:hover {
    cursor: pointer;
    background: gray;
}

#help_content{
    border: 1px solid #999999;
    background-color: #ffffff;
    position: absolute;
    height: 200px;
    width: 400px;
    z-index: 10;
    bottom: 40px;
    left: 340px;
}
#help_header{
    font-weight: bold;
    font-size: 12px;
}
#help_text{
    font-size: 12px;
}

.menu_item {
    cursor: pointer;
}
.menu_item:hover {
    background: #AAAAAA;
}

#user_logout {
    color: blue;
    cursor: pointer;
}

.menu_item {
    width: 100%;
}

#menu_table{
    width: 100%;

}

#user_info_driver_table {
    background: lightgray;
    border: 0;
    width: 100%;
}

#user_info_driver_table:hover {
    border: 0;
    background: gray;
    cursor: pointer;
}
#user_info_driver_table tr {
    border: 0;
}
#user_info_driver_table tr {
}
#user_info_driver_table tr td {
    font-size: 10px;
    border: 0;
}
#userinfo_table {
    width: 100%;
}

#header_content {
    float: left;
    width: 100%;
    height: 100%;
    background: url('/images/ifk_logga.png') right no-repeat #0065ad;
}
#header_content h1 {
    color: #ffffff;
}

#register_date_table {
    width: 100%;
}

#game_display{
    border: 1px solid #c5c6ca;
    font-weight: bold;
}